$margin-auto: 0 auto;

$black-color: #000;
$white-color: #fff;

$mobile-width: 320px;
$mobile-width-container: 280px;

$desktop-width: 768px;
$desktop-width-container: 738px;

$ArialFont: "Arial", "Roboto", sans-serif;
$SegoeUIFont: "Segoe UI", "Roboto", sans-serif;
