.slider {
  width: $mobile-width-container;

  &__container {
    margin: $margin-auto;
    width: 25%;
  }

  &__pin-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    margin: 0;
    padding: 5px;
    display: block;
    background-color: #cccccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity .2s;

    &--active {
      padding: 7px;
      background-color: #0062ff;
    }

    &:hover {
      opacity: .6;
    }

    &:active {
      opacity: .3;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    display: none;
  }
}
